<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2014 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wearable.watchface">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25" />

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <!-- Calendar permission used by CalendarWatchFaceService -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- Location permission used by FitDistanceWatchFaceService -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <service
            android:name=".ComplicationSimpleWatchFaceService"
            android:enabled="true"
            android:label="CGMS"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_complication_simple" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_complication_simple" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.example.android.wearable.watchface.CONFIG_COMPLICATION_SIMPLE" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity android:name="android.support.wearable.complications.ComplicationHelperActivity" />
        <activity
            android:name=".ComplicationSimpleConfigActivity"
            android:label="CGMS"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.android.wearable.watchface.CONFIG_COMPLICATION_SIMPLE" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             All intent-filters for config actions must include the categories
            com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION
            and android.intent.category.DEFAULT.
        -->

        <service
            android:name=".provider.RandomNumberProviderService"
            android:icon="@drawable/ic_launcher"
            android:label="CGMS"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT,LONG_TEXT" />
            <!--
            When your complication data provider is active, UPDATE_PERIOD_SECONDS specifies how
            often you want the system to check for updates to the data. In this case, the time is
            specified to 600 seconds (10 minutes).

            In general, you want to set this value high and manually trigger updates only when your
            complication data actually changes via ProviderUpdateRequester (check
            UpdateComplicationDataService.java for an example).

            In everyday use, developers should consider intervals in the order of minutes.
            Also, remember that this is only a guidance for the system. Android Wear may update less
            frequently.
            -->
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="60" />
        </service>
        <service
            android:name=".provider.UpdateComplicationDataService"
            android:exported="false">
        </service>

    <service android:name="com.dbrowne.cgms.MyService" >
    </service>

        <service android:name="com.dbrowne.cgms.MyService1" >
        </service>
    </application>

</manifest>